@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Noto+Sans+JP&family=Noto+Serif+NP+Hmong:wght@400;500;600;700&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --dark-purple: #231134;
    --plum: #dda0dd;
    --sm-border-radius: 10px;
    --card-padding: 2px;
}


body {
    background-color: var(--dark-purple);
    color: var(--white);
    font-family: 'Noto Sans JP',
        sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Headings */
h1,
h2,
h3 {
    color: var(--plum);
    font-family: 'Noto Serif NP Hmong',
        serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.7rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

/* Main Header */
header {
    text-align: center;
    padding: 3rem 3rem 1.5rem 3rem;
}

header>p {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

footer {
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--dark-blue);
    color: var(--white);
    margin-top: auto;
    width: 100%;
}

.examples {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}

/* Card Styles */
.card-header {
    padding: 8px;
    border: 1px solid --plum
}

.card-header p {
    padding: var(--card-padding);
    text-align: start;
}

/* Still need to make cards adjust for content to remain same size */
.card {
    padding: 1.3rem;
    flex: 0 0 300px;
    margin: 20px;
    border: 1px solid var(--plum);
    border-radius: var(--sm-border-radius);
    height: 20rem;
    transition: all 0.5 ease-in-out;
}

.card:hover {
    box-shadow: inset 0px 0px 8px var(--dark-purple), 0px 0px 15px var(--plum);
}

.card h3 {
    border: 1px solid var(--plum);
    padding: var(--card-padding);
    border-radius: var(--sm-border-radius);

}


/* Code Sections Styles */
.card pre {
    background: linear-gradient(30deg, var(--plum), var(--white));
    color: var(--black);
    padding: 1rem; 
    width: 100%;
    height: 10.5rem;
    border-radius: var(--sm-border-radius);
    line-height: 1.4rem;
    user-select: all;    
}

